body {
    font-family: "Open Sans", sans-serif;
}
      
h1, h2, h3 {
        font-family: "Lobster", cursive;
}
      
h2 {
        color: #3046C5;
}
      
header {
        padding: 30px;
        background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
        color: white;
}
      
header h2 {
        color: #CEC8FF;
}
      
    footer {
        background-image:linear-gradient(#CEC8FF,white);
        padding: 20px 0;
}
      
    .row-content {
        padding: 50px 0;
        border-bottom: 1px ridge;
        min-height: 200px;
}

.navbar {
background-color: #901CAD;
}

.navbar-nav .nav-link {
    color: white !important; /* Set the text color to white */
}

.navbar-nav .nav-link:hover {
    color: #ccc !important; /* Set the text color to a lighter shade on hover */
}

/* Navbar icon styles */
.navbar-nav .nav-link i {
    color: white; /* Set the icon color to white */
}

/* Navbar icon on hover styles */
.navbar-nav .nav-link:hover i {
    color: #ccc; /* Set the icon color to a lighter shade on hover */
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}